body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#calculator{
  border: 1px solid rgb(101, 96, 96);
  border-radius: 5px;
  width: 200px;
  justify-content: center;
}

#display{
  margin: 10px;
  width: 85%;
  font-size: 25px;
  justify-content:center;
}

.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button{
  width: 45px;
  height: 45px;
  margin: 3px;
}